

<div class="row">
    <div class="col-12 col-md-6 p-2">
        <h2>Pipes de textos</h2>
        <hr>
        <app-text></app-text>
    </div>
    <div class="col-12 col-md-6 p-2">
        <h2>Pipes de números</h2>
        <hr>
        <app-numbers></app-numbers>
    </div>
    <div class="col-12 col-md-6 p-2">
        <h2>Pipes de fecha</h2>
        <hr>
        <app-date></app-date>
    </div>
    <div class="col-12 col-md-6 p-2">
        <h2>Pipes de JSON</h2>
        <hr>
        <app-json></app-json>
    </div>
    <div class="col-12 col-md-6 p-2">
        <h2>Pipes con KeyValue</h2>
        <hr>
        <app-key-value></app-key-value>
    </div>
    <div class="col-12 col-md-6 p-2">
        <h2>Pipe Slice</h2>
        <hr>
        <app-slice></app-slice>
    </div>
    <div class="col-12 col-md-6 p-2">
        <h2>Pipe i18nSelect</h2>
        <hr>
        <app-i18n-select></app-i18n-select>
    </div>
    <div class="col-12 col-md-6 p-2">
        <h2>Pipe i18nPlural</h2>
        <hr>
        <app-i18n-plural></app-i18n-plural>
    </div>
    <div class="col-12 col-md-6 p-2">
        <h2>Pipe Async</h2>
        <hr>
        <app-async></app-async>
    </div>
</div>